* {
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: black;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
}

.website-content-margin-rule {
  width: 85%;
  margin: auto;
}

h4 {
  text-align: left;
}

p {
  text-transform: capitalize;
  letter-spacing: 0px;
  text-align: left;
}

#hero {
  text-align: center;
  height: 80vh;
}

.nav-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: white;
  right: 0;
  top: 0;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-clip-path: circle(0px at 100% 0%);
          clip-path: circle(0px at 100% 0%);
}

.nav-container .list-container {
  list-style-type: none;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  z-index: 500;
}

.nav-container .navlink {
  text-decoration: none;
  color: black;
  font-size: clamp(1em, 7vw, 2em);
  position: relative;
}

.nav-container .navlink::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: black;
}

.nav-container .navlink:hover::before {
  width: 100%;
}

.hero-content {
  margin-top: clamp(5rem, 15vh, 10rem);
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbtn-container {
  width: 2rem;
  height: 2rem;
  border: 3px solid;
  border-radius: 100%;
  position: fixed;
  right: 2rem;
  top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbtn-container .line {
  width: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbtn-container .line:nth-child(1) {
  margin-top: 20%;
}

.navbtn-container .line:nth-child(2) {
  margin-top: 10%;
}

.navbtn-container .line:nth-child(3) {
  margin-top: 10%;
}

.name h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: clamp(4rem, 10vw, 20rem);
  margin: 0;
  letter-spacing: 0;
}

.summary {
  width: 80vw;
  margin: auto;
}

.summary h2 {
  font-weight: 500;
  font-size: clamp(16px, 3vw, 2rem);
}

.cta-container {
  width: clamp(13rem, 20vw, 15rem);
  min-height: 7rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta-container .cta {
  border: 3px solid white;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: white;
  position: relative;
}

.cta-container .cta:hover {
  color: black;
}

.cta-container .cta::before {
  position: absolute;
  content: "";
  background: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.cta-container .cta:hover::before {
  width: 100%;
}

.menu-btn {
  width: clamp(2rem, 7vw, 4rem);
  color: white;
}

h2 {
  font-size: clamp(2em, 4vw, 5em);
  text-align: center;
  margin-bottom: 2rem;
}

.projects-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.project-img-container img {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 2rem;
  cursor: pointer;
}

@media (min-width: 800px) {
  .navbtn-container {
    width: 3rem;
    height: 3rem;
    top: 3rem;
    right: 3rem;
  }
  .navbtn-container .line {
    width: 1.8rem;
  }
  .navbtn-container .line:nth-child(1) {
    margin-top: 30%;
  }
  .projects-container {
    -ms-grid-columns: (minmax(15rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(15rem, 1fr));
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .nav-container {
    width: 40vw;
  }
}
/*# sourceMappingURL=style.css.map */